<button class="button"
				[type]="type"
				(click)="onButtonClick()"
				[disabled]="disabled"
				[ngClass]="{
				 				'button--primary' : buttonType === 'primary',
				 				'button--secondary' : buttonType === 'secondary',
				 				'button--custom' : buttonType === 'custom'
				 				 }"
				[ngStyle]="{ 'background-color' : buttonType === 'custom' ? customBgColor : '',
				'color' : buttonType === 'custom' ? customColor : '', }"
>
	<ng-container *ngIf="label; else elseBlock">{{ label }}</ng-container>
	<ng-template #elseBlock>
		<ng-content></ng-content>
	</ng-template>
</button>
