.selector {
	box-sizing: border-box;
	min-height: var(--input-min-height, 36px);
	padding: 4px 30px 4px 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	transition: border-color 0.3s;
	color: var(--input-text-color);

	/* marker style */
	appearance: none;
	background: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 8px center;
	background-color: var(--input-background-color);
	background-size: 1.4rem;

	& option {
		color: var(--input-text-color);
		background-color: var(--input-background-color);
		height: 30px;
	}

	&:focus {
		border-color:  var(--primary-color);
		box-shadow: 0 0 2px  var(--primary-color);
	}
}
